h2 {
  color: #2980b9;
  font-size: 30px;
}

body {
  background-color: white;
  text-align: center; /* text 가운데 정렬 */
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

div {
  width: 100%;
  margin: 0 auto;
}

body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
button {
  text-align: center;
  display: inline-block;
  margin: 15px;
  /* float: middle; */
  background: #2980b9;
  color: #fff;
  border: none;
  position: relative;
  height: 60px; /* 버튼 높이 */
  width: 116px; /* 버튼 너비 */
  font-size: 1.1em; /* 폰트 사이즈 : 일정 크기 이상 커지면 쏠림 */
  padding: 0 2em; /* 패딩: 속성(content)와 테두리(border) 사이 간격 */
  cursor: pointer; /* 커서 모양 변경*/
  transition: 800ms ease all; /* 애니메이션 만드는것을 도와주는 CSS 속성 */
  outline: none;
  border-radius: 5px; /*버튼 모서리 라운딩*/
  /* border-radius: 50%; */
}
button:hover {
  background: #fff;
  color: #2980b9;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #2980b9;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
